<IfModule mod_rewrite.c>
 RewriteEngine On
 Rewritecond %{REQUEST_FILENAME} !/parsers
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
 RewriteRule ^ /%1 [NC,L,R]
 RewriteCond %{REQUEST_FILENAME}\.php -f
 RewriteRule ^(.*)$ $1.php [NC,L]
</IfModule>
